body {
  margin: 0;
  line-height: normal;
}
.ebola-image-icon3,
.rectangle-icon3 {
  position: absolute;
  top: 1142px;
  left: -20px;
  width: 1440px;
  height: 31px;
}
.ebola-image-icon3 {
  top: 101px;
  left: 0;
  height: 575px;
  object-fit: cover;
}
.white-bubble-div3 {
  position: absolute;
  top: 166px;
  left: 55px;
  background-color: var(--color-gray-200);
  width: 1329px;
  height: 425px;
}
.welcome-to-argos3 {
  position: absolute;
  top: 249px;
  left: 229px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 981px;
  height: 143px;
}
.the-regulatory-grade-database7 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.the-regulatory-grade-database6 {
  position: absolute;
  top: 392px;
  left: 240px;
  display: inline-block;
  width: 959px;
  height: 77px;
}
.header-div3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 101px;
}
.about-div2,
.data-div2 {
  top: 33px;
  width: 200px;
  height: 36px;
  z-index:100;
}
.about-div2 {
  position: absolute;
  left: 1219px;
  display: inline-block;
}
.data-div2 {
  left: 886px;
}
.argos-div3,
.data-div2,
.github-div2 {
  position: absolute;
  display: inline-block;
  z-index:100;
}
.argos-div3 {
  z-index:100;
  top: 23px;
  left: 54px;
  font-size: var(--font-size-sm);
  text-align: left;
  width: 243px;
  height: 55px;
  -webkit-text-stroke: 1px #464b6a;
}
.github-div2 {
  top: 33px;
  left: 1050px;
  width: 200px;
  height: 36px;
}
.group-div3 {
  position: absolute;
  top: 0;
  left: 1px;
  width: 1440px;
  height: 101px;
}
.contact-us-div3,
.footer-div3,
.rectangle-div6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 31px;
}
.contact-us-div3,
.footer-div3 {
  top: 1141px;
  left: -21px;
}
.contact-us-div3 {
  top: 1144px;
  left: 1192px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  width: 215px;
  height: 27px;
}
.icoutline-email-icon3 {
  position: absolute;
  top: 1145px;
  left: 1377px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.rectangle-div7 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 1441px;
  height: 101px;
}
.contact-us-div4,
.footer-div4,
.rectangle-icon4 {
  position: absolute;
  top: 887px;
  left: 0;
  width: 1440px;
  height: 31px;
}
.contact-us-div4,
.footer-div4 {
  top: 886px;
  left: -1px;
}
.contact-us-div4 {
  top: 889px;
  left: 1212px;
  font-size: var(--font-size-2xs);
  display: inline-block;
  width: 215px;
  height: 27px;
}
.icoutline-email-icon4 {
  position: absolute;
  top: 890px;
  left: 1397px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unnamed-1-icon3,
.unnamed-2-icon6,
.unnamed-2-icon7 {
  position: absolute;
  top: 744px;
  left: 937px;
  width: 427px;
  height: 82px;
  object-fit: cover;
}
.unnamed-1-icon3,
.unnamed-2-icon7 {
  top: 705px;
  left: 396px;
  width: 507px;
  height: 160px;
}
.unnamed-2-icon7 {
  top: 709px;
  left: 55px;
  width: 307px;
  height: 151px;
}
.argos-landing-page-v1 {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 918px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-arial-unicode-ms);
}
