/* Move down content because we have a fixed navbar that is 50px tall */

@import url('Gruppo.css');
@import url('Montserrat.css');


html, body{
    margin:0 !important;
    padding:0 !important;
    background: #f6f6f6 !important;
}


.globalheader {
    min-height:80px;
    width:100%;
    background:DodgerBlue;
    margin:0px 0px 0px 0px;
    border:0px dashed red;
}

.globalheader_logo {
    display:block;
    float:left;
    width:180px;
    height:55px;
    margin:10px 0px 0px 0px;
    font-family: 'Gruppo', cursive;
    border:0px dashed orange;
}
.globalheader_logo_img {
    float:left;
    width:40px;
    margin:0px 0px -18px 5px;
    border:0px dashed orange;

}
.globalheader_logo_txt {
    display:block;
    float:left;
    width:100%;
    padding:0px;
    border:0px dashed red;
}

.globalheader_logo_txt_one {
    display:block;
    float:left;
    font-size:30px;
    font-family: 'Gruppo', sans-serif;
    color:#ff8000;
    padding:0px;
    border:0px dashed blue;
}
.globalheader_logo_txt_two {
    display:block;
    float:left;
    font-size:30px;
    font-family: 'Gruppo', sans-serif;
    color:#333333;
    padding:0px 0px 0px 0px !important;
    border:0px dashed blue;
}




.globalheader_global_links {
    display:block;
    float:right;
    width:70%;
    margin:30px 0% 0px 0%;
    border:0px dashed orange;
}



.globalheader_icon {
    display:block;
    float:right;
    cursor:pointer;
    color:#777;
    font-size: 24px !important;
    margin: 3px 0px 0px 20px;
    border:0px dashed red;
}

.versioncn{
    display:block;
    float:left;
    width:100%;
    color:#0066ff;
    height:15px;
    padding:0px 10px 0px 0px;
    margin:0px 0px 20px 0px;
    text-align:right;
    font-size:11px;
    border:0px dashed red;
}

.searchbox_div_one {
    display:block;
    float:left;
    width:100%;
    background:#f6f6f6;
    margin:0px 0px 0px 0px;
    border-radius:10px 10px 10px 10px;
    border: 0px solid red;
}

.searchbox_div_two {
    display:block;
    float:left;
    width:50%;
    margin:2%;
    border:0px dashed orange;
}

.searchbox_paper {
    padding:0px 0px 0px 2px;
    display:flex;
    align-items:right;
    width:100%;
    min-width:300px;
    height:35px;
    border:1px solid #eee;
    
}
.searchbox_input {
    padding:0px 15px 0px 15px;
    width:100%;
    border:0px dashed orange;
}

.search_icon {
    display:block;
    float:right;
    cursor:pointer;
    color:#777;
    padding:0px;
    font-size: 24px !important;
    margin: 5px 3px 0px 0px;
    border:0px solid red;
}




.filter_div_one{
    min-height:25px;
    width:100%;
    padding:2px;
    margin-top:0px;
    border:1px solid #ddd;
    border-radius:10px 10px 10px 10px;
    background:#fff;
}


.filter_div_two {
    display:block;
    float:left;
    width:100%;
    padding: 5px;
    border:1px solid #ddd;
    border-radius:10px 10px 10px 10px;
}

.filter_div_three {
    display: none;
    float: left;
    width: 100%;
    min-height: 100px;
    margin:0px;
    background: #f6f6f6;
    border-top:1px solid #ccc;
}

.filter_div_four {
    display:block;
    float:left;
    margin:10px 10px 10px 10px;
    padding:10px; 
    border:1px solid #ddd;
    font-size:14px; 
    border-radius:10px;
}


div.pagecn{
    display:block;
    overflow:auto;
    width:84%;
    margin:0px 8% 500px 8%;
    /*min-height:1000px !important;*/
    font-family: 'Montserrat', sans-serif; 
    font-size:17px;
    color:#333;
    padding:0px;
    z-index:1;
    border:0px dashed orange;
 }


.navlink{
    text-decoration:none;
    font-size:13px;
    color:#2358C2;
}
.navlastlink{
    text-decoration:none;
    font-size:13px;
    color:#990000;
}


.reglink{
    /*color:#337ab7;*/
    color:#2358C2;
    cursor:pointer;
    text-decoration:none;
}


.reglinkbold{
    /*color:#337ab7;*/
    color:#2358C2;
    cursor:pointer;
    text-decoration:none;
    font-weight:bold;
}

.leftblock{
    display:block;
    float:left;
}

.rightblock{
    display:block;
    float:right;
}

.bottomblock{
    display:block;
    float:bottom;
}


@font-face {
   font-family: 'Material Icons';
   font-style: normal;
   font-weight: 400;
   src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

 



td.faqquestion{
    text-align:left;
    padding:3px 0px 3px 0px;
    cursor: pointer;
    color:#005581;
}


td.faqanswer{
    text-align:left;
    padding:0px 0px 20px 40px;
    display:none;
}


span.faqquestionid{
    text-align:left;
    padding:0px 20px 0px 0px;
    color:#005581;
}

.googlerow{
    height:30px;
}

.googleoddrow{
    height:30px;
    background:#f6f6f6;
}

.googleheaderrow{
    height:30px;
}
.googleheadercell{
    vertical-align:middle;
    text-align:left;
    padding:20px;
    background:#eee; 
}

.googlecell{
    vertical-align:middle;
    vertical-align: text-middle;
    text-align:left;
    font-size:16px;
    padding:20px;
}


.globalfooter {
    background:DodgerBlue;
}

